* {
    font-family: verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
}

h1 {
    font-size: 24px;
}

.success {
    color: darkgreen;
}

.error {
    color: darkred;
}

.message {
    padding-left: 15px;
    padding-bottom: 15px;
}

.field {
    padding-bottom: 5px;
}

.field label {
    display: block;
    padding: 2px;
    padding-right: 10px;
    padding-left: 15px;
    text-align: right;
    float: left;
}

.field input,
.field textarea {
    padding: 2px;
    display: block;
    width: 50px;
}

#submit {
    margin-top: 10px;
    font-size: 20px;
}
